{% extends 'base.html' %}

{% block content %}
<h1>Carrinho de Compras</h1>
<table>
    <tr>
        <th>Evento</th>
        <th>Preço Unitário</th>
        <th>Quantidade</th>
        <th>Total</th>
    </tr>
    {% for item in cart_items %}
    <tr>
        <td>{{ item.ticket.event_name }}</td>
        <td>R$ {{ item.ticket.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>R$ {{ item.total }}</td>
    </tr>
    {% endfor %}
</table>
<h2>Total: R$ {{ total_price }}</h2>
{% endblock %}
