{% extends 'base.html' %}

{% block content %}
<h1>Eventos Disponíveis</h1>
{% for ticket in tickets %}
    <div style="margin-bottom: 20px;">
        <br><strong>Evento:</strong>
        <div>{{ ticket.event_name }}</div>
        
        <br><strong>Museu:</strong>
        <div>
            {% for museum in ticket.museums.all %}
                {{ museum.title }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        
        <br><strong>Preço:</strong>
        <div>R$ {{ ticket.price }}</div>
        
        
        
        <br><div>
            <a href="{% url 'add_to_cart' ticket.id %}" class="post-title">Adicionar ao Carrinho </a>
            <br><a href="{% url 'remove_to_cart' ticket.id %}" class="post-title">Remover do Carrinho </a>

        </div>
    </div>
{% empty %}
    <p>Nenhum ingresso disponível.</p>
{% endfor %}
{% endblock %}
