{% extends 'base.html' %}

{% block content %}
  <h1>Adicionar Museu</h1>
  <form method="post">
    {% csrf_token %}
    <label for="title">Título:</label>
    <input type="text" name="title" id="title" required><br><br>

    <label for="content">Conteúdo:</label><br>
    <textarea name="content" id="content" required></textarea><br><br>

    <label for="image_url">URL da Imagem (opcional):</label>
    <input type="url" name="image_url" id="image_url"><br><br>

    <label for="category">Categoria:</label>
    <select name="category" id="category" required>
      {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select><br><br>

    <button type="submit">Salvar</button>
  </form>
  <a href="{% url 'home' %}">Voltar</a>
{% endblock %}
