{% extends 'base.html' %}

{% block content %}
    <h2>{{ post.title }}</h2> 
    
    <p><strong>Local:</strong> {{ post.location }}</p> 
    <br>
    <p><strong>Descrição:</strong> {{ post.content|safe }}</p>

    <br><br>
    <h3>Comentários</h3>
    <ul>
        {% for comment in post.comments.all|dictsortreversed:"created_date" %}
            <li>
                <strong>{{ comment.author }}:</strong>
                {{ comment.content }} <em>{{ comment.created_date|date:"d M Y H:i" }}</em>
            </li>
        {% empty %}
            <br><li>Sem comentários ainda.</li>
        {% endfor %}
    </ul>
    <br>

    <a href="{% url 'post_edit' post.pk %}" class="btn">Editar</a>
    <a href="{% url 'post_delete' post.pk %}" class="btn">Excluir</a> 

    {% if user.is_authenticated %}
        <form method="post" action="{% url 'add_comment' post.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <a href="{% url 'museum_list' %}" class="btn">Ver museus</a> |
            <button type="submit" class="btn">Adicionar Comentário</button>
        </form>
    {% else %}
        <p><h3>Faça login para adicionar comentários.</h3></p>
    {% endif %}
{% endblock %}
