{% extends 'base.html' %}
{% load static %}

{% block title %}
    Página Inicial - Museus e Eventos
{% endblock %}

{% block content %}
  <h1>Visite um museu ou participe de um evento!</h1>
  <p>Descubra eventos e museus incríveis para explorar.</p>
  
  <section class="event">
    <img src="{% static 'images/museu.png' %}" alt="Imagem do Evento">
    <div class="event-details">
      <h2>Evento A</h2>
      <p><strong>Museus:</strong> Museu 1, Museu 2.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aute irure dolor in reprehenderit.</p>
      <a href="#" class="btn">Acessar evento</a>
    </div>
  </section>
  
  <section class="museums">
    <h3>Museus</h3>
    <!-- Exibe os posts -->
    <div class="museum-list">
      {% for post in posts %}
        <div class="museum">
          <a href="{% url 'post_detail' post.pk %}" class="post-title">{{ post.title }}</a>
          <p class="post-content">{{ post.content|truncatewords:20 }}</p>
          <a href="{% url 'post_detail' post.pk %}" class="btn">Leia mais</a>
        </div>
      {% empty %}
        <p>Não há posts disponíveis no momento.</p>
      {% endfor %}
    </div>
  </section>
{% endblock %}
