{% load static %}
<header>
    <img src="{% static 'images/museu.png' %}" alt="logo" width="150" height="auto">
    <h1 class=title>{% block site_title %}MuseuGo{% endblock %}</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Início</a></li>
            <li><a href="{% url 'post_list' %}">Museus</a></li>
            <li><a href="{% url 'category_list' %}">Eventos</a></li>
            <li><a href="{% url 'ticket_list' %}">Ingressos</a></li>
            <li><a href="{% url 'cart_view' %}">Carrinho</a></li>
        </ul>
    </nav>
</header>
